* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 19.5px;
    font-weight: 100;
    letter-spacing: 0.03rem;

    /*Theme colors*/
    /* --nile: #4aa9eb; */
    --nile: #56cefb;
    --ocean: #4f9ac3;
    --clay: #c3894f;
    --gold: #ffb336;
    --eggshell: #fbfbfb;
    --bone: #f5f5f5;
    --ash: #e6e6e6;
    --pencil: #bbbbbb;
    --ink: #272f40;
    --softTextShadow: #6b6969 0px 0px 4px;
}

html {
    scroll-behavior: smooth;
}

.opal{
    background-color: #ffca77;
    background-image: linear-gradient(120deg, hsl(17, 88%, 63%) 0%, #d94a8a 100%);
    color: var(--eggshell);
    text-shadow: var(--softTextShadow);
}


body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    /* text-shadow: var(--ink) 0px 0px 0px; */
    /* transition: all 0.3s; */
    color: var(--clay)
}
a:hover {
    color: var(--ink);
    /* text-shadow: var(--ink) 0px 0px 5px; */
}

h2 {
    font-weight: bold;
    font-size: 1.3rem;
  }

section {
    color: #272f40;
    width: 100%;
    float: none;
}

strong {
    font-weight: bold;
}

.strikethrough {
    text-decoration: line-through;
}

.spacer {
    display: block;
    height: 30px;
}

.softCenterShadow {
    box-shadow: inset #476b9e 20px -12px 180px -92px;
}

#poster {
    color: white;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* height: auto; */
    text-align: center;
    padding: 150px 0px;
    /* background-size: cover;
    background-position: bottom; */
    justify-content: flex-start;
    align-items: center;
    -webkit-clip-path: ellipse(117% 65% at 27% 28%);
    clip-path: ellipse(117% 65% at 27% 28%);
    /* background-color: #0c3833; */
    background-color: black;

    display: grid;
    grid-template-areas: ""
}
#poster #container {
    margin-left: 15vw;
    margin-right: auto;
    display: flex;
    color: #fbfbfb;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#poster #posterText {
    line-height: 1.8;
    width: 35%;
    position: absolute;
    right: 10vw;
}

#poster #links {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 1rem;
}

#poster #links a {
    color: white;
    margin: 1rem;
}

@media (max-width: 700px) {
    #poster #posterText {
        position: static;
        line-height: 1.1;
        width: 80%;
        margin: 0 auto;
    }
}

.logo {
    width: 250px;
}

.lighter-benchnine {
    font-family: 'BenchNine', sans-serif;
    font-weight: lighter;
}

.memories-logo {
    height: 60px;
    padding: 5px 5px 0px;
}
.memories-banner {
    background-color: #56cefb;
    height: 90px;
    width: 100%;
    text-align: center;
    top: 0;
    position: fixed;
    z-index: 2;
}
.memories-logo-writing {
    letter-spacing: 2px;
    font-size: 15px;
    color: white;
}

h1 {
    font-size: 55px;
    letter-spacing: 22px;
}
.ghostButton {
    color: white;
    padding: 10px;
    border: solid 2px white;
    border-radius: 25px;
    text-decoration-line: none;
    transition: all 0.4s;
    white-space: nowrap;
    margin: 10px;
    line-height: 60px;
}
.ghostButton:hover {
    background-color: white;
    color: black;
    text-shadow: none;
}

.ghostButtonDark {
    color: black;
    padding: 10px;
    border: solid 2px black;
    border-radius: 25px;
    text-decoration-line: none;
    transition: all 0.4s;
    white-space: nowrap;
    margin: 10px;
    line-height: 60px;
}

.ghostButtonDark:hover {
    background-color: #56cefb;
    color: white;
    text-shadow: none;
}

.biggerText {
    font-size: 1.3rem !important;
}

#twitter::before {
    content: "";
    /* display: block; */
    background: url("img/twitter.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
}

#underPoster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #54a59b;
    height: 136px;
    margin-top: -174px;
    clip-path: ellipse(80% 90% at 26% 8%);
    z-index: -5;
    position: relative; */
    clip-path: ellipse(121% 65% at 80% 28%);
    z-index: -1;
    position: relative;
    height: 450px;
    background-color: #56cefb;
    background-color: var(--nile);
    margin-top: -145px;
    box-shadow: inset #476b9e 20px -12px 180px -92px;
    color: white;
    text-shadow: var(--softTextShadow);
}
#underPoster .sole-logo {
    display: block;
}

#underPoster p {
    text-align: center;
    width: 80%;
    font-weight: bold;
}

@media (max-width: 750px) {
    #underPoster {
        height: 600px;
        margin-top: -190px;
    }

    #underPoster p {
        font-size: 0.8rem;
    }
}

.backdrop-video-container {
    /* padding: 30px 20% 0px 20%; */
    text-align: center;
    position: relative;
    margin-top: -105px;
    padding: 120px 2%;
    padding-bottom: 1rem;
    overflow: hidden;
}
.backdrop-video {
    position: absolute;
    z-index: -5;
    left: 0;
    /* width: 100%; */
    /* right: 0; */
    top: 0;
    bottom: 0;
    height: 100%;
    opacity: 0.5;
}

@media screen and (min-width: 1660px){
    .backdrop-video {
        height: unset;
        width: 100%;
    }
}
@media screen and (max-width: 1000px){
    .backdrop-video {
        margin-left: -250px;
    }
}

#steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
#steps .oneThird {
    display: flex;
    max-width: 350px;
    min-width: 150px;
    margin: 3%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.stepImage {
    max-width: 100%;
}

.darkBg {
    background-color: #e6e6e6;
    border-top: solid #bbbbbb 1px;
    border-bottom: solid #bbbbbb 1px;
}

#sponsors {
    background-color: white;
    border-top: solid #bbbbbb 1px;
    border-bottom: solid #bbbbbb 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sponsorContainer {
    width: 100%;
    padding: 10px 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.reaperLogo {
    padding: 20px;
    min-width: 60px;
    max-width: 300px;
}
.mediaLogo {
    padding: 20px;
    min-width: 90px;
    max-width: 230px;
}

#location {
    display: flex;
    color: white;
    background: url('img/vancouver.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0px -2px 10px 2px #00000087;
    padding: 50px 20%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#location #container {
    display: flex;
    flex-direction: column;
}

.downtownPicture {
    background: url('img/vancouver.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.lightBlue {
    color: #9de4ff !important;
}

#footer {
    z-index: 5;
    background-color: var(--nile);
    box-shadow: 0px -2px 10px 2px #00000087;
    text-shadow: var(--softTextShadow);
    color: white;
    text-align: center;
    padding: 2.5%;
}
#footer a {
    color: var(--ink);
}

.icons img {
    height: 2rem;
    margin: 0px 5px;
    opacity: 0.7;
    transition: 1s;
}

.icons img:hover {
    opacity: 1;
}

@keyframes sp00ky {
    0% { filter: invert(0) }
    40% { filter: invert(0) }
    60% { filter: invert(1) }
    100% { filter: invert(1) }
}

/* TESTIMONIAL SECTION */
#testimonialWrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#testimonialGrid {
    text-align: left;
    padding-top: 3rem;
    position: relative;
    margin-left: 7vw;
    margin-right: 7vw;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    overflow-y: auto;
}

.testimonial {
    display: block;
    width: 20%;
    min-width: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 2rem;
}

.testimonialPhoto {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 50%;
}

.testimonialPhoto img {
    width: auto;
    height: 100%;
    margin-left: 0px;
}

.testimonialName {
    position: relative;
    bottom: 0.8rem;
    font-weight: 900;
    font-size: 1.3rem;
}

.testimonial p {
    display: inline-flex;
    font-size: 0.88rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 1100px) {
    #testimonialGrid {
        justify-content: flex-start;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .testimonial {
        padding-bottom: 1rem;
        width: 90%;
    }
}

/* BLOG AND VIDEO SECTION */
#blogVideo {
  text-align: center;
  /* background-color: #4f9ac3; */
  color: #383030;
  /* max-width: 1600px; */
  /* margin: 0 auto; */
  /* padding-bottom: 2rem; */
  /* padding-top: 2rem; */
}

#blogVideoGrid {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.blogTiles {
  flex: 1 1.1 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 600px;
  /* height: 17rem; */
  /* overflow: hidden; */
}
.blogTiles h2 {
    text-align: left;
    margin-bottom: 1rem;
}
.blogTile {
    display: flex;
    align-items: center;
    margin: 1rem 0px;
}

.videoTile {
  flex: 1 400px;
  max-width: 600px;
  /* min-width: 500px; */
  /* height: 17rem; */
  /* overflow: hidden; */
}

.blogPhoto {
    height: 120px;
    width: 150px;
    /* max-width: 50%; */
    min-width: 150px;
    border-radius: 5px;
    /* height: 50%;
    width: 50%; */
    overflow: hidden;
    float: left;
    background-size: cover;
    background-position: center;
}

.blogText {
  /* display: inline-block; */
  text-align: left;
  /* width: 50%; */
  padding: 0.25rem 1rem;
}

@media (max-width: 900px) {
  /* .blogTile {
    padding-bottom: 4rem;
  }

  .blogTile {
    width: 90%;
  } */

  /* .videoTile {
    flex: none;
  } */
}

@media (max-width: 500px) {
  /* .blogPhoto {
    width: 100%;
    height: 80%;
    margin-bottom: 0.5rem;
  } */

  /* .blogText {
    width: 100%;
    padding-left: 0rem;
  } */
}

/* WINNER SECTION */
#winnerSpotlight {
    text-align: center;
}

#winnerSpotlight #winnerText {
    width: 70%;
    margin: auto;
}

#winnerSpotlight #winnerPhoto {
    width: 80%;
    padding: 20px;
    min-width: 80px;
    max-width: 700px;
}


/* TIMELINE SECTION */
.timeline {
    width: 100%;
    vertical-align: middle;
}

/* INITIATIVES SECTION */
#previousYearsWrapper {
    margin: auto;
    text-align: center;
    width: 80%;
    max-width: 700px;
}

/* TICKETS SECTION */
#ticketsWrapper {
    background-image: url(img/events/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    position: relative;
    color: #FFF;
    text-shadow: 0px 0px 5px 5px var(--softTextShadow);
    padding-top: 2rem
}
#ticketsWrapper h2 {
    margin-bottom: 2rem;
}
#ticketsWrapper #events {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
}
#ticketsWrapper #events .event {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 575px; */
}
#ticketsWrapper #events .event h3 {
    min-height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'BenchNine', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 0.5rem;
}
#ticketsWrapper #events .event a {
    color: #FFF;
    transition: 0.3s;
    text-decoration: none;
}
#ticketsWrapper #events .event .eventTitle {
    text-decoration: underline;
}
#ticketsWrapper #events .event a:hover {
    color: var(--gold)
}

#ticketsWrapper #events .event h4 {
    font-size: 1rem;
}
#ticketsWrapper #events .event p {
    height: 67px;
    padding: 0.5rem;
}

#ticketsWrapper #events .event .dividerLogo {
    margin: 1rem;
}

#ticketsWrapper .footnote {
    text-align: right;
    padding: 1rem;
    font-size: 0.8rem;
}

/* TEAM MEMEBERS SECTION */
#teamMemberWrapper {
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
    position: relative;
}

#teamMemberWrapper h2 {
    margin-bottom: 2rem;
}

#teamMemberGrid {
    max-width: 900px;
    margin-left: 7vw;
    margin-right: 7vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

@media screen and (min-width: 980px){
    #teamMemberGrid {
        margin-left: auto;
        margin-right: auto;
    }

    div#teamMemberGrid .teamMember:nth-of-type(1),
    div#teamMemberGrid .teamMember:nth-of-type(3),
    div#teamMemberGrid .teamMember:nth-of-type(5),
    div#teamMemberGrid .teamMember:nth-of-type(6),
    div#teamMemberGrid .teamMember:nth-of-type(8),
    div#teamMemberGrid .teamMember:nth-of-type(10)
    {
        /* padding-top: 50px; */
    }
}


.teamMember {
    text-align: center;
    width: 9rem;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* background-color: #bbbbbb; */
    /* box-shadow: 5px 5px 5px #9e9e9e; */
}

.teamMemberPhoto {
    display: inline-block;
    position: relative;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 7px #424242b0;
}

.teamMemberPhoto img {
    width: auto;
    height: 100%;
    margin-left: 0px;
    filter: sepia(0.7) hue-rotate(340deg);
}

.teamMemberName {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.teamMember p {
    font-size: 0.75rem;
    margin-bottom: 0.4rem;
}

@media (max-width: 640px) {
    #teamMemberWrapper {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    #teamMemberGrid {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .teamMember {
        width: 8rem;
    }

    .teamMemberName {
        font-size: 0.9rem;
    }

    .teamMemberPhoto {
        width: 6rem;
        height: 6rem;
    }
}

/* MEMORIES PAGE */
#memoriesWrapper {
    margin: 0 auto;
    text-align: center;
    margin-top: 90px;
    position: relative;
}

#memoriesWrapper h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#memoriesWrapper h3 {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#memoriesGrid {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.memories {
    width: 30rem;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2rem;
}

.memoriesPhoto {
    display: inline-block;
    position: relative;
    width: 30rem;
    height: 18.9rem;
    overflow: hidden;
    border-radius: 5%;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 7px #424242b0;
}

.memoriesPhoto img {
    width: auto;
    height: 100%;
    margin-left: 0px;
}

.memories p {
    font-size: 0.8rem;
}

@media (max-width: 640px) {
    #memoriesGrid {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }

    .memories {
        max-width: 20rem;
    }

    .memoriesPhoto {
        width: 14rem;
        height: 8rem;
    }
}
